<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.havenwithyou.mongnewmong.mapper.CenterMapper">

    <resultMap id="centerMap" type="CenterDto">
        <id  property="centerid"	 column="CENTER_ID" />
        <id  property="centerAddress"	 column="CENTER_ADDRESS" />
        <id  property="centerName"	 column="CENTER_NAME" />
        <id  property="centerPhoneNum"   column="CENTER_PHONE_NUM"/>
        <id property="logo" column="CENTER_LOGO"/>
    </resultMap>


    <insert id="insertCenter"
            parameterType="CenterDto">
        <selectKey order="AFTER" keyProperty="centerid" resultType="int">
            SELECT CENTER_SEQ.CURRVAL
            FROM DUAL
        </selectKey>
        INSERT INTO DAYCARE (
          CENTER_ID
        , CENTER_ADDRESS
        , CENTER_NAME
        , CENTER_PHONE_NUM
        , CENTER_LOGO
        ) VALUES (
        CENTER_SEQ.NEXTVAL
        , #{centerAddress}
        , #{centerName}
        , #{centerPhoneNum}
        , NULL
        )
    </insert>
    <select id="getAllCenters" resultType="centerDto">
        SELECT  CENTER_ID
        , CENTER_ADDRESS
        , CENTER_NAME
        , CENTER_PHONE_NUM
        , CENTER_LOGO FROM DAYCARE
    </select>
</mapper>